*{                          /*universal selector*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
    color: white; /*text of whole website will be white*/
}
html,body {
    height: 100%;
    width: 100%;
}

#cursor {
    height: 25px;
    width: 25px;
    background-color: #95C11E;
    border-radius: 50%;
    position:fixed;
    z-index:99;
}
#nav{
    height: 145px;
    width:100%;
    /* background-color:red; */
    display: flex;   /*elements ek line mei aa jaenge*/
    align-items: center;   /*adjusting elements in y-axis*/
    justify-content: flex-start; /*adjusting in x-axis;  can't make it center as we don't need the logo to come in center with the menu items*/
    gap: 50px; /*space between menu items of navbar*/
    padding: 0 150px;  /* padding of full flexbox of navbar -- top,bottom =0 ; left,right =150px*/
    position: fixed;
    z-index:99; /* to bring navbar above everything below it (video,etc)*/
}
#nav img{
    height: 75px;
}
#nav h4{                        /*to set property to h4 of nav*/
    text-transform:uppercase;
    font-weight: 500;
}


video{
    height:100%;
    width: 100%;
    object-fit: cover;
    position: fixed; /*video is fixed*/
    z-index:-1;
}


#main{
    /*its just a wrapper div so no styling */
    position:relative;                                 /*?????????*/   /*so that it scrolls*/
    background-color: rgba(0,0,0,0.38);
}

#page1{
    /* height: 100%;  */ 
    /* don't keep the width and height of child 'page1' in % as the 'main' which is a parent here of page1 has no styling,height,width. The parent has 0 height so its child have 100% of 0 = 0 height. SO, KEEP IT IN vh */
    height: 100vh; 
    width:100%;
    /* background-color: red; */
    position:relative;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;  /* to bring the flex into column wise instead of row wise*/

    text-align: center;
}
#page1 h1{
    font-size: 120px;
    font-weight: 900;
    position: relative;
}
/*pseudo elemets are used to write something with help of css*/
#page1 h1::before{
    content: "THANKS FOR SAVING RESOURCES.";
    position : absolute;
    color: #000;
    top: -6px;
    left: -6px;
    -webkit-text-stroke:1px #95C11E;   /*width color*/
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 18px;
    font-weight: 500px;
    width: 40%;
}
#page2 {
    height: 100vh;
    width: 100%;
}




